body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center
}
input{
    margin-right: 0;
    border: 1px solid #f5f5f5;
    padding-left: 12px;
    width: 300px;
    height: 32px;
    margin-bottom: 12px
}
button{
    margin-left: 0;
    background-color: #f5f5f5;
    color: #bbd69b;
    border: 1px solid #bbd69b;
    height: 32px;
    border-radius: 4px
}
button:hover{
    background-color: #bbd69b;
    color: black
}
button:last-of-type:hover{
    background-color: red
}
.items{
    text-align: center;
    width: 50%;
    margin-left: 25%;
/*    background-color: green*/
}
.item{
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.item h4{
    float: left;
    line-height: 6px
}
.item i{
    float: right;
    margin-top: 16px;
    cursor: pointer
}
i:nth-child(2){
    color: red    
}
i:nth-child(4){
    color: green
}

i:nth-child(3){
    margin-left: 6px;
    margin-right: 6px;
    color: blue
}